html,
body{
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Alibaba;
  /*-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Alibaba';
  font-style: normal;
  src: local('Alibaba'), url('./assest/fonts/alibaba-regular-588b6fcf.woff') format('woff');
}
